.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(18, 18, 20, 0.5);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  max-width: 634px;
  border-radius: 4px;
  padding: 14px;
  border: solid 1px white;
}
.modal-content-announce {
  background: white;
}
